.blue{
    color: rgba(52, 84, 122, 1);
}
.type{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.long{
    width: 1920px;
    height: 2000px;
}
.main{
    width: 1912px;
    height: 720px;
    background-color: rgba(238, 239, 241, 1);
}
.pading{
  padding-left: 399px;
  padding-top: 79px;
}
.size{
    font-size: 16px;
    margin: 0%;
}
.box{
   display: inline-block;
   vertical-align: auto;
}
.position{
 padding-left: 399px;
 padding-top: 162px;
 height: 45px;
 width: 541px;
 text-align: center;
font-size: 48px;
}
.text{
    width: 541px;
    height: 67px;
    padding-left: 399px;
    margin-top: 155px;
    font-size: 16px;
}
.button{
    width: 225px;
    height: 65px;
    margin-left: 399px;
    font-size: 16px;
    background-color: rgba(52, 84, 122, 1);
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
} 
.margin{
    width: 540;
    height: 67;
    padding-top: 112px;
    margin-left: 690px;
    margin-right: 690px;
}
.color{
    color: rgba(114, 114, 114, 1);
}
.middle{
    text-align: center;
    font-size: 32px;
}
.blueblock{
    width: 1920px;
    height: 250px;
    margin-top: 100px;
    background-color:rgba(52, 84, 122, 1);

}
.inblock{
    display: flex;
    
    margin-left: 410px;
    margin-bottom: 100px;
    padding-top: 100px;
    margin-right: 423px;
}
.picture{
    width: 50px;
    height: 50px;
}
.forty{
    width: 36px;
    height: 19px;
    font-size: 21px;
    margin: 0;
}
.projects{
  width: 71px;
  height: 15px;
  font-size: 16px;
  margin: 0;
}
.box{
    display: flex;
    width: 141px;
    height: 50px;
}
.white{
    color: white;

}
.near{
    width: 71px;
    height: 44px;
    text-align: center;
    justify-items: center;
    margin-right: 45px;
}
.big{
    width: 1920px;
    height: 1004px;
    background-color: rgba(238, 239, 241, 1);
}
.video{
    width: 1110px;
    height: 600px;
    padding-left: 405px;
    padding-top: 57px;
    position: relative;
    display: flex;
    text-align: center;
}
.container{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    margin: auto;
}
.final{
    height: 151px;
    width: 1920px;
    background-color: rgba(52, 84, 122, 1);
}
.Ostap{
  margin-left: 406px;
  padding-top: 50px;
  color: rgba(255, 255, 255, 1);
  font-size: 21px
;
}
.rights{
  margin-left: 406px;
  margin-top: 20px;
  font-size: 13px;
  color: rgba(255, 255, 255, 1);
}
.triangle{
  border-left: 18px;
  border-top: 12px;
  border-bottom: 12px;
  border: solid;
  background-color: black;
}
.